
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.body{ 
    font-family: "Roboto", san-serif;  
    height: 60rem; 
}



.header{
    display: flex; 
    flex-shrink: 1; 
    justify-content: space-between; 
    background-color: #1F2937;
}

#logo{
    height: 7rem; 
    width: 7rem; 
    padding: 0px 0rem 0px 5rem; 
}


.header-list{
    display: flex; 

}

.content-upper{ 
    font-family: "Roboto", san-serif;  
    background-color: #1F2937;
    display: flex; 
}

#pic2{
    height: 24rem; 
    width: 24rem;
    margin: 10px; 
    padding: 0px 10rem 0px 1rem; 
}

#upper-text{
    display: flex; 
    flex-shrink: 1; 
    justify-content: center;
    padding: 1rem; 
    margin: 4rem;
    flex-direction: column; 
}

h1{ 
    font-style: bold; 
    font-weight: bold; 
    color: #F9FAF8;
}


p{
    color: #E5E7Eb;
}

ul{
    list-style-type: none; 
    display: flex; 
    gap: 1rem;
    text-decoration: none;
    justify-content: space-evenly; 
    padding: 0px 13rem 0px 4rem; 
    align-items: center; 
    

  }


a{
    color: #E5E7Eb;
    font-size: 18px; 
    text-decoration: none;
    font-family: "Roboto", san-serif;  

  }

.sign-up{
    background-color: #3882f6; 
    color: #F9FAF8;
    border-radius: 4px; 
    height: 2rem;
    width: 7rem;
    border: none; 
}

.random-info{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: 1;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 4rem; 
}

.random-img{
    height: 8rem; 
    width: 8rem;
    outline: solid;
    border-radius: 16px; 
}

.item{
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    font-family: "Roboto", san-serif;
}

h2{
    text-align: center; 
    font-weight: bold; 
    font-family: "Roboto", san-serif; 
}

#quote{
    background-color:#E5E7Eb; 
    color: #1F2937; 
    font-family: "Roboto", san-serif; 
    padding-top: 4rem; 
    padding-left: 12rem; 
    padding-right: 12rem; 
    padding-bottom: 0rem;
    font-size: 32px; 
    font-style: italic; 
    flex-wrap: wrap;
    overflow-wrap: break-word;

}

#citation{
    font-family: "Roboto", san-serif; 
    font-style: bold; 
    font-weight: 9000; 
    background-color:#E5E7Eb; 
    text-align: right; 
    padding-right: 10rem; 
    padding-bottom: 3rem;
}

.lower-section{
    display: flex; 
    padding: 4rem;
    justify-content: center; 
    align-items: center; 
}

.call-to-action{
    display: flex;
    font-family: "Roboto", san-serif; 
    flex-shrink: 2;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px; 
    padding: 12px;
    width: 40rem; 

}

#lower-button{
    height: 2rem;
    width: 7rem;
    margin-top: 2rem; 
    margin-left: 1rem;
    border: solid; 
    border-color: #F9FAF8;
    color: #F9FAF8;
    border-radius: 4px; 
    background-color: #3882f6;
}



  .footer{ 
      display: flex; 
      justify-content: center; 
      align-items: center; 
      background-color: #1F2937;
      padding: 2rem;
      font-family: "Roboto", san-serif; 
      color: #E5E7Eb;
      
  }